/* ================================================================
  index.css - Global reset, CSS variables & base styles
  ================================================================ */

/* Variables */
:root {
  --text: #000000;
  --text-h: #000000;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #4d4c45;
  --accent: #10b981;
  --accent-bg: #10b98153;
  --accent-border: #2bdca1;
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  /* Responsive typography */
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base */
html {
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  min-height: 100vh;
}

/* Dark mode overrides
@media (prefers-color-scheme: dark) {
  :root {
    --text: #000000;
    --text-h: #000000;
    --bg: #fff;
    --border: #e5e4e7;
    --code-bg: #4d4c45;
    --accent: #10b981;
    --accent-bg: #10b98153;
    --accent-border: #2bdca1;
    --social-bg: rgba(244, 243, 236, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */
